 <h3 style="text-align:center">Student Information</h3>
  <nav class="navbar navbar-expand-lg ">

<button routerLink="/signin" class="btn btn-success  mx-auto">
    Signin
  </button>
  
 <button class="btn btn-primary  mx-auto" routerLink="/student">
    Student List
  </button>
  <button class="btn btn-info  mx-auto" routerLink="/Course">
    Course List
  </button>
  <button class="btn btn-warning  mx-auto">
    Student-Course Information List
  </button>
  
</nav>

 <router-outlet></router-outlet>