
<html>
  <head>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
<body>
<br/>
<br/>

<br/>
<br/>
<br/>


 <div class="container">
    <div class="">
  <div class="col-md-6 offset-md-3">
<table class="table">
  <thead>
  <tr>
    <th><h4>Course List</h4></th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <th><button [routerLink]="'/addcourse'" class="btn btn-dark">ADD Course</button>
</th>
  </tr>
  
  </thead>


  
    <tr>
      <th scope="col">Id</th>
      <th scope="col"> Course Name</th>
      <th scope="col">Fee</th>
       
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>

  <tr  *ngFor="let r of result index as i">
    <td scope="col"> {{i+1}}</td>
    <!-- <td scope="col"> {{r.courseId}}</td> -->
    <td scope="col"> {{r.courseName}}</td>
    <td scope="col">{{r.fee}}</td>
     <td><a [routerLink]="['/editcourse',r.courseId,r.courseName,r.fee]">  <i class="fa fa-pencil" aria-hidden="true"></i></a></td>
     <td><button (click)="delete(r.courseId)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
  </tr>
</table>
  </div>
    </div></div>
</body>
</html>