USE [master]
GO
/****** Object:  Database [MovieDetailsDb]    Script Date: 24-03-2020 23:23:22 ******/
CREATE DATABASE [MovieDetailsDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MovieDetailsDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\MovieDetailsDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MovieDetailsDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\MovieDetailsDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MovieDetailsDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MovieDetailsDb]
GO
/****** Object:  Table [dbo].[MovieCast]    Script Date: 24-03-2020 23:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieCast](
	[MovieId] [int] NOT NULL,
	[ActorId] [int] NOT NULL,
	[Role] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 24-03-2020 23:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[MovieId] [int] IDENTITY(1,1) NOT NULL,
	[MovieName] [nvarchar](50) NOT NULL,
	[ReleaseYear] [int] NOT NULL,
	[MovieLanguage] [varchar](20) NOT NULL,
	[MovieDirectorName] [varchar](50) NOT NULL,
	[MovieRating] [float] NOT NULL,
	[MovieType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Movies] PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Actors]    Script Date: 24-03-2020 23:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actors](
	[ActorId] [int] IDENTITY(1,1) NOT NULL,
	[ActorName] [varchar](50) NOT NULL,
	[ActorNationality] [varchar](30) NOT NULL,
	[ActorDOB] [date] NOT NULL,
	[ActorGender] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Actors] PRIMARY KEY CLUSTERED 
(
	[ActorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vMovieCast]    Script Date: 24-03-2020 23:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[vMovieCast] as SELECT MovieName,ActorName,Role
  FROM Actors 
	  JOIN MovieCast ON Actors.ActorId=MovieCast.ActorId
		JOIN Movies ON MovieCast.MovieId=Movies.MovieId 
GO
ALTER TABLE [dbo].[MovieCast]  WITH CHECK ADD  CONSTRAINT [FK_MovieCast_Actors] FOREIGN KEY([ActorId])
REFERENCES [dbo].[Actors] ([ActorId])
GO
ALTER TABLE [dbo].[MovieCast] CHECK CONSTRAINT [FK_MovieCast_Actors]
GO
ALTER TABLE [dbo].[MovieCast]  WITH CHECK ADD  CONSTRAINT [FK_MovieCast_Movies] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([MovieId])
GO
ALTER TABLE [dbo].[MovieCast] CHECK CONSTRAINT [FK_MovieCast_Movies]
GO
USE [master]
GO
