<p>student works!</p>
<html>
  <head>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
<body>
<br/>
<br/>

<br/>
<br/>
<br/>


 <div class="container">
    <div class="">
  <div class="col-md-6 offset-md-3">
<table class="table">
  <thead>
  <tr>
    <th><h4>Students List</h4></th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <th><button [routerLink]="'/addstudent'" class="btn btn-dark">ADD STUDENT</button>
</th>
  </tr>
  
  </thead>


  
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
       <th scope="col">Password</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
 
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
     <th scope="col">Password</th>
     <td><a [routerLink]="['/editstudent']"> <i class="fa fa-pencil" aria-hidden="true"></i></a></td>
     <td><button (click)="delete()" ><i class="fa fa-trash" aria-hidden="true"></i></button></td>
  </tr>
</table>
  </div>
    </div></div>
</body>
</html>